<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="margin-right:0px !important;">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/admin">CodePilot</a>
		</div>

		{{#ifUserIsAdmin user}}
		<ul class="nav navbar-nav">
			<li class="{{activeHelper this 'dashboard' }}"><a href="/admin"><i class="fa fa-dashboard"></i>  Dashboard</a></li>
			<li class="dropdown {{activeHelper this 'episodes' }}">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-square-o-right"></i>  Episodes <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="/admin/episodes"><i class="fa fa-check"></i>  Approved</a></li>
					<li><a href="/admin/episodes/pending"><i class="fa fa-clock-o"></i>  Pending</a></li>
				</ul>
			</li>
			<li class="{{activeHelper this 'users' }}"><a href="/admin/users"><i class="fa fa-user"></i>  Users</a></li>
		</ul>
		{{/ifUserIsAdmin}}

		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				{{#if user.name}}
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.name}} <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="/logout">Logout</a></li>
					<li><a href="/settings">Settings</a></li>
				</ul>
				{{else}}
				<a href="/auth/twitter">Log in</a>
				{{/if}}
			</li>
		</ul>
	</div>
</nav>
