<section class="users" style="box-sizing:border-box;margin-top:25px;">
	<table class="table table-striped">
		<thead>
			<tr>
				<td>#</td>
				<td>Twitter Handle</td>
				<td>Created</td>
				<td>Status</td>
				<td>Options</td>
			</tr>
		</thead>
		<tbody>
		{{#each users}}
			<tr data-id="{{this.id}}">
				<td class="id">{{this.id}}</td>
				<td class="twitter"><a href="http://twitter.com/{{this.twitter_username}}">@{{this.twitter_username}}</a></td>
				<td class="moment">{{this.createdAt}}</td>
				{{#if this.active}}
					<td class="status">Active</td>
				{{else}}
					<td class="status error">Inactive</td>
				{{/if}}
				<td class="buttons">
					<div class="col-md-6" style="text-align:right;">
						<div class="btn-group level">
							<a class="btn btn-primary active-role" href="javascript:void(0)" data-role="{{this.role}}"><i class="fa fa-user"></i> <span>{{userRoleToString this.role}}</span></a>
							<a class="btn btn-primary dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown"><span class="caret"></span></a>
							<ul class="dropdown-menu user-role" style="text-align:left;">
								<li><a href="javascript:void(0)" data-role="viewer"><i class="fa fa-pencil"></i> <span>Viewer</span></a></li>
								<li><a href="javascript:void(0)" data-role="moderator"><i class="fa fa-trash-o"></i> <span>Moderator</span></a></li>
								<li><a href="javascript:void(0)" data-role="screencaster"><i class="fa fa-pencil"></i> <span>Screencaster</span></a></li>
								<li><a href="javascript:void(0)" data-role="admin"><i class="fa fa-ban"></i> <span>Admin</span></a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-1">
					{{#if this.active}}
						<button type="button" class="btn btn-danger account-closed" data-action="deactivate">Close Account</button>
					{{else}}
						<button type="button" class="btn btn-success account-closed" data-action="activate">Reactivate</button>
					{{/if}}
					</div>
				</td>
			</tr>
		{{/each}}
		</tbody>
	</table>
</section>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.2.1/moment.min.js"></script>
<script>
	moment().format()
	// do the moment stuff
	$(".moment").each(function() {
		var $this = $(this)
		$this.html(moment($this.html()).fromNow())
	})
	$('.dropdown-menu.user-role li a').on('click', function() {
		var id = $(this).closest('tr').attr('data-id')
		var newRole = $(this).attr('data-role')
		var prettyRole = $(this).find('span').text()
		$.ajax({
			url: '/api/admin/user/role',
			type: 'POST',
			data: {
				id: id,
				role: newRole
			},
			success: function(data) {
				var json = $.parseJSON(data)
				if (json.status == 'ok') {
					$('.users table tr[data-id='+id+'] .active-role').attr('data-role', newRole)
					$('.users table tr[data-id='+id+'] .active-role span').text(prettyRole)
				} else {
					console.log('There was a fucking error')
				}
			}
		})
	})
	$('.btn.account-closed').on('click', function() {
		var id = $(this).closest('tr').attr('data-id')
		var action = $(this).attr('data-action')
		var status = $(this).closest('tr').find('.status')
		var button = $(this)
		$.ajax({
			url: '/api/admin/user/'+action,
			type: 'POST',
			data: {id: id},
			success:function(data) {
				var json = $.parseJSON(data)
				if (json.status == 'ok') {
					var accountClosed = (action == 'deactivate')
					status.text(accountClosed ? 'Inactive' : 'Active')
					if (accountClosed) {
						status.addClass("error")
					} else {
						status.removeClass("error")
					}
					if (accountClosed) {
						button.removeClass('btn-danger').addClass('btn-success')
					} else {
						button.removeClass('btn-success').addClass('btn-danger')
					}
					button.attr('data-action', accountClosed ? 'activate' : 'deactivate').text(accountClosed ? 'Reactivate' : 'Close Account')
				} else {
					console.log("There was a fucking error")
				}
			}
		})
	})
</script>